.PerspectiveViewer {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.PerspectiveViewer perspective-viewer {
  width: 100%;
  height: 100%;
}
perspective-viewer[theme="Vaporwave"] {
  --d3fc-axis-ticks--color:#C3C3C3;
  --plugin--background: #13171F!important;
}